/* buttons */

[type="button"]:hover {
    background-color: aqua;
}

[type="button"] {
    width: 70%;
    align-self: center;
    margin: .5em;
    height: 5em;
    border-radius: 2%;
    background-color: yellow;
    font-size: .75em;
}
/* .button {
    flex-direction: column;
} */

/* font  */

* {
    text-align: center;
    font-weight: bold;
    color: blue;
    
}

/* display */
body{
    
}
.quiz {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
} 

#timer {
    margin-top: 20px;
    font-size: 5em;
}

/* layout */

header {
    margin-top: 20%;
}